*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:' poppins'
;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background: #031927;
    color: white;
   
}
#header{
    background-image: url(.jpg ); 
   
    width: 100%;
    height: 100vh;
    background-size:cover;
 
    
}
.logo{
   width:10%;
   height: 100%;
    border: 1px solid #AAD922;
    border-radius:20px;


}
.container{
    padding: 10px 10%;
   
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: #12664F;
    width: 100%;
    border-radius: 10PX;
    background-size: cover;
    padding: 50px 120px ;
    top:0;
    left:0;
    height: 10%;

}
.contenti{
     width: 90%;
     margin: 30px auto 30px;
     border: 1px solid  #12664F;
}
.contenti.main-contenti{
    width: 70%;
    float: left;
    border: 1px solid #040404 ;

}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.contenti.sidebarii{
    width: 30%;
    float: left;
    height: 300px;
    border: 1px solid #85FF9E;
}
nav ul li {
    display: inline-block;
    justify-content: space-between;
    width:18px;
    list-style: none;
    margin:10px 40px;

}

.signing{
    display: flex;
    width:50%
}
nav ul li a{
    color:white;
font-size: 18px;
text-decoration: none;
position:relative;
}
nav ul li a::after{
    content: '';
    background:orange;
    width:0;
    height:3px;
    position:absolute;
left:0;
bottom: -6px;
transition: 0.6s;
}
nav ul li a:hover::after{
width:100%;
};
.identifier{
    margin-top: 20px;
    font-size: 30px;
}
.identifier H1{
    font-size: 35px;
    margin-top: 20%;
}
.identifier H1 span{
    color:pink;
}
.identifier p{
    font-size:20 px;
    margin-top: 20%;
}
/*--ABOUT--*/
#muka{
    padding:80px 0;
    color:scrollbar-darkshadow-color;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;

   
    
}
.column{
    flex-basis:35% ;
}
.column img {
    width:100%;
    border-radius: 17px;
}
.columnn {
    flex-basis: 60% ;
}

@keyframes cursor {
    50%{
        border-color: transparent;

    }
    
}

@keyframes typing {
    from{
        width:0
    }
}
.conten{
     display: flex;
     justify-content: center;
     margin:10px 40px;
     color: #AFDEDC;
}
.mama{
    color:pink;
    width: px;
    height: 60px;
    
   
    
}
.subtitles{
  display: flex;
  margin: 20px 0 40px;
 
}
.skills{
    position:relative;
 font-weight: 500px;
 font-size: 18px;
    margin-right: 50px;
    cursor: pointer;
}
.skills::after{
   content: '';
    background: goldenrod;
    width:0;
    height:3px;
   
    position:absolute;
    left: 0;
    bottom: -8px;
    transition:0.6s;
}
.skills.skill::after{
    width:50%;
}
.work ul li{
list-style: none;
margin:10px 0;

}
.work ul li span{
    color:goldenrod;
    font-size: 14px;
}
.work{
    display:none;
}
.work.active{
    display: block;
}
#service{
padding: 30px 0 ;
}
.serviceid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px ;
    margin-top: 50px;
}
.serviceid div{
    background: #262626;;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 30px;
   transition: background 0.5s,transform 0.6s;
}
.serviceid div i{
    color:white;
    font-size: 50px;
    margin-bottom: 30px;
}
.serviceid div h2{
    color: pink;
    font-size:30px ;
    margin-bottom: 15px;
    font-weight: 500;
}
.serviceid div a{
    text-decoration:none ;
    color: bisque;
    font-size: 20px;
    margin-top: 30px;
    display: inline-block;
}
.serviceid div:hover{
    background: #ff04ff;
    transform: translatey(-10px);
}
/*----------------------*/
#portofolio{
    padding: 50px 0;
  
}
.worklist{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px ;
    margin-top: 50px;

}
.worr{
    border-radius: 20px;
    position: relative;
    overflow: hidden ;
}
.worr img{
    width: 300px;
    border-radius: 10px;
    display:block;
    transition:transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 20px;
    position: absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition:height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 50px;
    
}
.layer a{
    margin-top: 20px;
    line-height: 60px;
    font-size: 18px;
    text-decoration: none;
    color:darkorange;
    border-radius: 50%;
    width:60px;
    text-align: center;
    height: 50px;
}
.worr:hover img{
    transform: scale(1.1);
}
.worr:hover .layer{
height:100%;
}
.btn{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #ff04ff;
    padding: 14px 15px;
    border-radius: 6px;
transition: background;
    
}
.btn:hover{

background: #ff04ff;
}
.CONTACTR{
    flex-basis: 35%;
}
.contactm{
    flex-basis: 60%;
}
.CONTACTR p{
    margin-top: 30px;
    text-decoration: none;
    text-align: start;
}
.CONTACTR p i{
    color:#F9DC5C;
    margin-right: 15px;
    font-size: 25px;
}
.socialicons{
    margin-top: 30px;

}
.socialicons a {
font-size: 20px;
color: #ababab;
margin-right: 15px;
text-decoration: none;
display: inline-block;
transition:transform(00.5s);
}
.socialicons a:hover{
    color: chartreuse;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #35CE8D;
}
.contactm form{
    width:100%;
    
}
form input,form textarea{
    width:100%;
   bottom: 15px;
   border: 0px;
   outline:none;
   background:#ababab;
   padding:15px;
   margin:7px;
   color:#262626;
   font-size: 12px;
   border-radius: 15px;
} form .btn2{
    padding:14px 60px;
    font-size:18px ;
    margin-top: 20px;
    cursor:pointer;

    
}
.copyright{
    text-align: center;
    width:100%;
    padding:25px;
    font-weight: 300;
    margin-top: 20px;
    background: #262626;
}
.copyright i{
    color: darkolivegreen;
}
nav .fa-solid {
    display:none;
}

/*------------css for telephones*/

@media only screen and (min-width: 601px) and (max-width: 1024px) {


.identifier{
    margin-top:100px;
    font-size:16px ;

}
.identifier H1{
font-size: 30PX;
}
nav .fa-solid{
display: block;
font-size: 15px;
}
    

nav ul{
    background:#ababab;
    position:fixed;
    right: -100px;;
    top:0;
    width: 100px;
    height: 100h;
    padding-top:50px ;
    border-radius: 20px;
    z-index: 2;
    transition:right 0.5s;
  
}
nav ul li{
    display:block;
    margin:25px;
}
nav ul .fa-solid{
    top:60px;
    position:absolute;
    left: 25px;
    cursor: pointer;
}
.subtitles{
    font-size: 14px;
}
.column,.columnn{
    flex-basis: 100%;
}

.column{
    margin-bottom:30px ;
}}
@media (max-width: 767px) {.identifier{
    margin-top:100px;
    font-size:16px ;

}
.identifier H1{
font-size: 30PX;
}
nav .fa-solid{
display: block;
font-size: 15px;
}
    

nav ul{
    background:#ababab;
    position:fixed;
    right: -100px;;
    top:0;
    width: 100px;
    height: 100h;
    padding-top:50px ;
    border-radius: 20px;
    z-index: 2;
    transition:right 0.5s;
  
}
nav ul li{
    display:block;
    margin:25px;
}
nav ul .fa-solid{
    top:60px;
    position:absolute;
    left: 25px;
    cursor: pointer;
}
.subtitles{
    font-size: 14px;
}
.column,.columnn{
    flex-basis: 100%;
}

.column{
    margin-bottom:30px ;}}