body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #031927;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #12664F;
}
.comment-section {
    margin-top: 20px;
}
.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-body {
    margin-top: 5px;
}
.delete-btn {
    color: red;
    cursor: pointer;
}