body{
    margin: 0;
    padding: 0;
}
.sign-up-form{
     background: white;
     width:300px;
     box-shadow: 0 0 0 3px rgba(0,0,0, 0.3);
     text-align: center;
     padding: 20px;
     background: #fff;
     margin: 8% auto 0;

}